.form{
  display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
gap: 8px;
}
.form label{
   display: flex;
align-items: flex-start;
justify-content: flex-start;
flex-direction: column;
gap: 8px;

}
.form label input{border: 1px solid #808080;
border-radius: 4px;
width: 360px;
height: 40px;}
.form label input:hover{
  border: 1px solid #000;
}
.form label input:pressed{
  border: 1px solid #4e75ff;
}
.form fieldset{
  display: flex;
flex-direction: row;
align-items: flex-start;
justify-content: flex-start;
box-sizing: border-box;
padding:24px 48px 8px 48px;
width: 360px;
height: 78px;
gap: 48px;
margin-bottom: 24px; 
border: 1px solid #808080;
border-radius: 4px;
border-width: 1px;

}
.form fieldset:hover{
  border:1px solid black;
}

.form fieldset:pressed{
  border:1px solid black;
}
.form fieldset label{
  display: flex;
align-items: center;
justify-content: center;
flex-direction: row;
gap: 8px;
width: 112px;
height: 32px;
}
.form fieldset label input{
    display: flex;
align-items: flex-start;
justify-content: center;
flex-direction: row;
  width: 20px;
  height: 20px ;
}
.form button{
  border: none;
border-radius: 8px;
padding: 8px 16px;
width: 360px;
height: 40px;
background-color: #4e75ff;
font-weight: 500;
color: #fff; 
}
.form button:hover{
  background-color: #6c8cff;
}